<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="宿舍管理系统.Properties.Settings.sufeiConnectionString"
            connectionString="Data Source=LAPTOP-Q0MEAAIK\SQLEXPRESS;Initial Catalog=sufei;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>